<nav class="navbar user-info-navbar" role="navigation">
    <ul class="user-info-menu left-links list-inline list-unstyled">
        <li class="hidden-sm hidden-xs">
            <a href="#" data-toggle="sidebar">
                <i class="fa-bars"></i>
            </a>
        </li>
    </ul>
    <ul class="user-info-menu right-links list-inline list-unstyled">
        <li class="hidden-sm hidden-xs">
            <a href="#" id="theme-toggle">
                <i class="fa-moon-o"></i>
            </a>
        </li>
        <li class="hidden-sm hidden-xs">
            <a href="https://github.com/{{ .Site.Params.githubRepo }}" target="_blank">
                <i class="fa-github"></i> GitHub
            </a>
        </li>
    </ul>
</nav>
