<script src="{{ .Site.BaseURL }}js/jquery-1.11.1.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/TweenMax.min.js"></script>
<script src="{{ .Site.BaseURL }}js/lozad.js"></script>
<script src="{{ .Site.BaseURL }}js/resizeable.js"></script>
<script src="{{ .Site.BaseURL }}js/joinable.js"></script>
<script src="{{ .Site.BaseURL }}js/xenon-api.js"></script>
<script src="{{ .Site.BaseURL }}js/xenon-toggles.js"></script>
<script src="{{ .Site.BaseURL }}js/xenon-custom.js"></script>
<script src="{{ .Site.BaseURL }}js/search.js"></script>
<script src="{{ .Site.BaseURL }}js/theme-toggle.js"></script>
<script>
    $(document).ready(function() {
        // 图片懒加载
        const observer = lozad();
        observer.observe();

        // 侧边栏菜单行为
        $(document).on('click', '.has-sub', function() {
            var $this = $(this);
            if ($(this).hasClass('expanded')) {
                $('.has-sub ul').each(function(index, element) {
                    var $ul = $(this);
                    if ($this.find('ul')[0] != element) {
                        setTimeout(function() {
                            $ul.attr('style', '');
                        }, 300);
                    }
                });
            } else {
                setTimeout(function() {
                    $this.find('ul').attr('style', '');
                }, 300);
            }
        });

        // 移动端菜单切换
        $('.user-info-menu .hidden-sm').click(function() {
            if ($('.sidebar-menu').hasClass('collapsed')) {
                $('.has-sub.expanded > ul').attr('style', '');
            } else {
                $('.has-sub.expanded > ul').show();
            }
        });

        // 菜单项高亮
        $('#main-menu li ul li').click(function() {
            $(this).siblings('li').removeClass('active');
            $(this).addClass('active');
        });

        // 平滑滚动
        $('a.smooth').click(function(ev) {
            ev.preventDefault();
            public_vars.$mainMenu.add(public_vars.$sidebarProfile).toggleClass('mobile-is-visible');
            ps_destroy();
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top - 30
            }, {
                duration: 500,
                easing: 'swing'
            });
        });

        // 回到顶部
        $('[rel="go-top"]').click(function(ev) {
            ev.preventDefault();
            $('html, body').animate({scrollTop: 0}, 800);
        });
    });
</script>
