<aside class="sidebar" id="sidebar">
    <nav class="sidebar-nav" aria-label="分类导航">
        <ul class="nav-list">
            {{ range $group := .Site.Data.categories.groups }}
            {{ if eq $group.id "top" }}
                {{ range $cat := $group.categories }}
                <li>
                    <a href="#{{ $cat.id }}" class="nav-item smooth">
                        <i class="{{ $cat.icon }}" aria-hidden="true"></i>
                        <span class="nav-text">{{ $cat.name }}</span>
                    </a>
                </li>
                {{ end }}
            {{ else }}
                <li class="nav-group">
                    <a href="#" class="nav-item has-sub">
                        <i class="{{ $group.icon }}" aria-hidden="true"></i>
                        <span class="nav-text">{{ $group.name }}</span>
                        <i class="fa fa-angle-down nav-chevron" aria-hidden="true"></i>
                    </a>
                    <ul class="nav-sub">
                        {{ range $cat := $group.categories }}
                        <li>
                            <a href="#{{ $cat.id }}" class="smooth">
                                <span class="nav-text">{{ $cat.name }}</span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </li>
            {{ end }}
            {{ end }}
        </ul>
    </nav>
    <button class="sidebar-toggle" aria-label="折叠/展开侧边栏">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </button>
</aside>
